* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Fredoka One', cursive; */
    font-family: 'Nunito', sans-serif;
}



/* -----------   HEADER   ----------- */

header {
    background-color: #F9F2ED;
    min-height: 10vh;
}

#logo {
    height: 100px;
}

.banner-header {
    height: 35vh;
    background-color: yellowgreen;
}


/* -----------  MAIN // CONTAINER  ----------- */

main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background-color: #F9F2ED;
    gap: 15px;
}


/* -----------  MAIN // ABOUT  ----------- */

.aboutImage {
    background-color: red;
    width: 390px;
    height: 250px;
}

.aboutText {
    background-color: aqua;
    width: 390px;
    height: 250px;
}




/* -----------  MAIN // CARD CALL TO ACTION CAROUSEL  ----------- */





/* --------------- CAROUSEL -------------- */
.card-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.product-carousel {
    backdrop-filter: blur(2rem);
    background-color: #00000117;
    border-radius: 40px;
    height: 23rem;
    width: 290px;
    overflow: hidden;
}

@media screen and (max-width: 567px) {
    .product-carousel:not(:first-child){
        display: none;
    }
}


/* ------------- FIN CAROUSEL ------------- */



#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}



.product {
    backdrop-filter: blur(2rem);
    background-color: #00000117;
    border-radius: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 550px;
    width: 290px;
    overflow: hidden;
}

.product-image {
    background-color: white;
    height: 65%;
}
    .product-image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.product-specification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FEA85D;
    height: 35%;
    gap: 15px;
}
    .product-specification h4 {
        text-align: center;
        font-weight: 700;
    }

.buy-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}   
    .price-tag {
        display: flex;
        align-items: center;
    }
    .price-tag span {
        font-size: 10px;
        font-weight: bold;
    }
    .size-price {
        color: black;
        font-size: 20px;
        margin: 0!important;
    }
    .buy a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    .cardButton {
        background: linear-gradient(45deg,transparent 5%,#fff 0);
        border: 0;
        box-shadow: 5px 0 0 #00e6f6;
        color: black;
        font-size: 18px;
        padding: 5px;
        width: 40%;
        }



/* -----------  FOOTER ----------- */

footer {
    min-height: 20vh;
    background-color: green;
}